.btn-secondary {
        background: #0051ff;
        letter-spacing: 1px;
        transition: all 0.4s ease 0s;
    }
h1 { color: #ffffffdb; font-family: 'Shrikhand', cursive, sans-serif; font-size: 100px; letter-spacing: -1px; line-height: 1; }

h2{ color: #000000db; font-family: 'Shrikhand', cursive; font-size: 30px;}

h2 .featurette-heading { color: #000000db; font-family: 'Shrikhand', cursive; font-size: 60px;}

.hehe{color: #000000db; font-family: 'Montserrat', sans-serif;}

.lead{color: #000000db; font-family: 'Montserrat', sans-serif;}

.navbar{
    color: #ff9e55
}